---

const { imageSrc, altText, title, rating, reviews, price, link } = Astro.props;
---

<div class="top-card">
  <div class="border-top"></div>
  <!-- .card-controle -->
  <img class="img-controller-top card-animation" src={imageSrc} alt={altText} style="width: 236px; height:186px;">
  <h5 class="card-title">{title}</h5>
  <div class="estrela">
    {Array.from({ length: rating }).map((_, index) => (
      <img src="/images/estrela.png" alt="estrela amarela de avaliação" />
    ))}
    <p>({reviews})</p>
  </div>
  
  <p class="estrela" style="color: white; font-size: 10px; margin-top:10px">Quantité : </p>
  <p class="top-money">{price}</p>
  <div><a class="cart" href={link}><i class="uil uil-shopping-cart icon-cart"></i></a></div>
</div>




<!-- ---
// interface Props {
//   title: string;
//   star: number;
//   price: string;
//   imageProduct: string;
//   idPage: string;
// }

const { title, star, price, imageProduct, idPage } = Astro.props;
---

<div class="top-card">
  <div class="border-top"></div>
  <img class="img-controller-top card-controle card-animation" src={imageProduct} alt={title}>
  <h5 class="card-title">{title}</h5>
  <div class="estrela">
    {Array.from({ length: star }).map(() => (
      <img src="/images/estrela.png" alt="estrela amarela de avaliação" />
    ))}
    <p>({star})</p>
  </div>
  <p class="top-money">{price}</p>
  <div><a class="cart" href={`/produts#${idPage}`}><i class="uil uil-shopping-cart icon-cart"></i></a></div>
</div> -->

